<div class="panel panel-default">
  <div class="panel-heading">
    <H5 align = "center"><strong> Material Didatico</strong></H5>
  </div>
  <div class="row"> 
    <div class="col-md-12"> 
      <small><strong> Descrição: </strong>  <%= materialdidatico.descricao %> </small>
    </div>
  </div>
  
  <div class="row"> 
    <div class="col-md-12"> 
      <div class="input-group">
        <small class="input-group-addon" id="basic-addon3">https://  </small>
           <small> <%= materialdidatico.link %>  </small>
      </div>
    </div>
  </div>
</div>

   



