<div class="panel panel-primary">
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="form-group">
          <div class = col-md-1><H4><strong>Titulo: </strong> </H4></div>
          <div class = col-md-3>  <%= f.text_field :titulo, class: 'form-control' %> </div>
          <div class = col-md-1><H4><strong>Url: </strong> </H4></div>
          <div class = col-md-5><%=  f.text_field :url, class: 'form-control' %> </div>
        </div>  
      </div>
    </div>  
  </div>  
</div>    


