   <table >
            <thead>
              <tr class="form-group" >
                <th><p><%= subtask.nome %></p></th>
                <th><p><%= subtask.entrega %></p></th>
              </tr>
            </thead>
          </table>








