<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_habilidade.nome %>
</p>

<%= link_to 'Edit', edit_tipo_habilidade_path(@tipo_habilidade) %> |
<%= link_to 'Back', tipo_habilidades_path %>
